* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
    color: white;
}

.logo {
    height: 50px;
    margin-right: 7px;
}

h1 {
    font-weight: 700; /* Bold */
}

nav {
    display: flex;
    align-items: center;
}

header {
    height: 100px;
    background-color: #21222A;
    padding: 20px 25px;
}

nav > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    padding: 60px 30px;
    background-image: url('../src/assets/react.svg');
    background-repeat: no-repeat;
    background-position: right 70%;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list {
    margin-top: 46px;
    max-width: 400px;
}

.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}

.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}


  